body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 8px 150px 8px 150px;
    justify-content: space-between;
}
.header .logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-links{
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
}

ul{
    margin: 0px;
    padding: 0px;
}

.sub-header{
    display: flex;
    background-color: #1f2937;
}

.text .title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text .subtext{
    font-size: 24px;
    color: #f9faf8;
}

.sub-header{
    padding: 80px 150px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.sub-header .text{
    flex: 1;
}

.sub-header .image{
    display: flex;
    flex: 1;
    background-color:grey ;
}
.sub-header img{
    background-color: grey;
}

button {
    background-color: #3882f6;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 8px;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 150px 80px 150px ;
}

.mid .title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 20px;
}

.container{
    display: flex;
    text-align: center;
    gap: 30px;
    justify-content: space-around;
}

.item{
    max-width: 150px;
}

.mid img{
    border-style: ridge;
    border-color: #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.mid .text{
    color: #54575a;
}

.quote{
    background-color: #e5e7eb;
    padding: 80px 150px;
    display: flex;
    flex-direction: column;
}

.quote .text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote .signature{
    align-self: flex-end;
    font-weight: bold;
}

.bottom{
    padding: 80px
}

.bottom .container{
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
}

.action{
    display: flex;
    flex: auto;
    justify-content: space-between;
    padding: 32px 70px;
    text-align: start;
    justify-content: space-between;
}

.bottom button{
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
        
}

.bot-title{
    font-weight: bold;
}