body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 8px 150px 8px 150px;
    justify-content: space-between;
}
.header .logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-links{
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
}

ul{
    margin: 0px;
    padding: 0px;
}

.sub-header{
    display: flex;
    background-color: #1f2937;
}

.text .title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text .subtext{
    font-size: 24px;
    color: #f9faf8;
}

.sub-header{
    padding: 80px 150px 8px 150px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.sub-header .text{
    flex: 1;
}

.sub-header .image{
    display: flex;
    flex: 1;
    background-color:grey ;
}
.sub-header img{
    background-color: grey;
}

button {
    background-color: #3882f6;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 8px;
}